<!-- By Andy Nguyen 
Registration Form-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Registration Form With Validation</title>
</head>
<body>
    <div class="container">
        <h1 class="jumbotron bg-info text-white d-flex justify-content-center">Registration</h1>
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="{{ session['flash_color'] }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-center">
            <form action="/process" method="post" class="w-75">
                <div class="form-group row font-weight-bold">
                    <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" name="email" value="" placeholder="Email"/>
                        {% with messages = get_flashed_messages(category_filter=["email"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="{{ session['flash_color'] }}">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="form-group row font-weight-bold">
                    <label for="first_name" class="col-sm-2 col-form-label col-form-label-sm">First Name: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" name="first_name" value="" placeholder="First Name"/>
                        {% with messages = get_flashed_messages(category_filter=["first_name"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="{{ session['flash_color'] }}">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="form-group row font-weight-bold">
                    <label for="last_name" class="col-sm-2 col-form-label col-form-label-sm">Last Name: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" name="last_name" value="" placeholder="Last Name" />
                        {% with messages = get_flashed_messages(category_filter=["last_name"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="{{ session['flash_color'] }}">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="form-group row font-weight-bold">
                    <label for="password" class="col-sm-2 col-form-label col-form-label-sm">Password: </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control form-control-sm" name="password" placeholder="Password"/>
                        <small id="passwordHelp" class="form-text text-muted">Use 8 or more characters with at least 1 uppercase letter and 1 number.</small>
                        {% with messages = get_flashed_messages(category_filter=["password"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="{{ session['flash_color'] }}">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="form-group row font-weight-bold">
                    <label for="confirm_password" class="col-sm-2 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control form-control-sm" name="confirm_password" placeholder="Confirm Password"/>
                        {% with messages = get_flashed_messages(category_filter=["confirm_password"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="{{ session['flash_color'] }}">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <input class="btn btn-info text-white" type="submit" value="Register" /> 
                </div>
            </form>
        </div>
    </div>

</body>
</html>